
@keyframes ldio-vcz1gpznvy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-vcz1gpznvy div {
  stroke: red;
  position: absolute;
  animation: ldio-vcz1gpznvy 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  z-index: 99999;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #da0b0b;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-bfwbiihipu5 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.45);
  z-index: 1000;
  top: 0;
  bottom: 0;
}
.ldio-vcz1gpznvy {
  width: 200px;
  height: 200px;
  position: relative;
  transform: translateZ(0) scale(1) translateY(-50%);
  top: 50%;
  backface-visibility: hidden;
  transform-origin: 0 0;
  margin: 0 auto;
}
.ldio-vcz1gpznvy div {
  box-sizing: content-box;
}
