.main{
    padding: 25px;
}
.dataTables_paginate{
    float: right !important;
}
.bs-select select {
    display: inline-block !important;
    margin-left: 0px !important;
}
.same-line{
    display: inline-block;
}
.icon-btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}